.sent-mail-view-container {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: #ace6e6;
  overflow: hidden;
}

.sent-mail-details-container {
  display: flex;
  flex-direction: column;
  margin: 48px 0;
  overflow: hidden;
  padding: 20px 0 20px 15px;
  font-weight: bolder;
  max-width: 100%;
  background-color: white;
  vertical-align: center;
  color: black;
  border-radius: 10px;
  padding: 20px 40px;
}

.mail-detail-heading {
  padding-bottom: 10px;
}

.mail-detail-content {
  padding-bottom: 15px;
}
